* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: wheat;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.title h1 {
    font-size: 2.5rem;
    color: #2c3e50;
}

.gif-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.music-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.music-item {
    background-color: wheat;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.music-item:hover {
    transform: scale(1.05);
}

.music-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.music-item audio {
    width: 100%;
    margin-top: 10px;
}
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: gold;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
    color: #2c3e50;
}
